html.dark {
  --c-bg: #181818;
  --demo-bg: #181818;
}

$scrollbar-size: 6px;

// scrollbar
* {
  scrollbar-color: #a6accd;
}

::-webkit-scrollbar {
  width: $scrollbar-size;
}

::-webkit-scrollbar:horizontal {
  height: $scrollbar-size;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #575757;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #353535;
  }
}

.mr-2 {
  margin-right: 20px;
}

.mt-2 {
  margin-top: 20px;
}
